yellow = #FBC02D

div
	h1.meet
		color:#fff
		text-shadow 2px 1px 2px #666


	img.logotransp
		margin-top 7em

.title-nav
	color #FFF
	font-size 20px

.img-profile
	width 30vh
	height 30vh	

.name
	color yellow

h5
	color yellow
	font-size 17px

.titulo
	font-size 18px
	color #FFF

.img-students
	width 20vh
	height 20vh

span 
	font-size 20px
	color #ACA8AD
	cursor pointer
/*
span:hover:before 
	content "\2605"
	position absolute
	color #FA8608
*/
.back
	margin-left 0

.star-new-one
	color #FA8608
	
.star-new-two
	color #ACA8AD 

.colors
	color #424242 !important
	cursor pointer

hr
	margin-top -1em
	opacity 0.75
	box-shadow 0px 0px 3px #D0D0D0

